SOFTETHER_MODE=vpncmd
SOFTETHER_CLIENT_HOST=www.jingzhu.top
SOFTETHER_CLIENT_PORT=443
SOFTETHER_ADMIN_ENDPOINT=host.docker.internal:5555
SOFTETHER_ADMIN_PASSWORD=change-me
SOFTETHER_VPNCMD_HOST_PATH=./deploy/softether/vpncmd
